@{
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="~/Content/css/Login.css" rel="stylesheet" />
<script src="~/Scripts/js/Login.js"></script>

<body style="margin: 0px; background: rgb(1, 7, 37); overflow-x: hidden;" dark-scroll=""><input type="hidden"
        id="anPageName" name="page" value="login">
    <div class="container-center-horizontal">
        <form class="login screen " data-id="4:1039" name="form7" action="form7" method="post"><input type="text"
                name="trapit" value="" style="display:none;"><img class="group-b8DrbD group" data-id="34:236"
                src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/group.png"
                alt="Group"><img class="privacy-policy-rafiki-1-b8DrbD" data-id="4:1089"
                src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/privacy-policy-rafiki-1.svg"
                alt="Privacy policy-rafiki 1">
            <div class="group-6-b8DrbD" data-id="4:1043">
                <div class="bg-DoXnc9" data-id="4:1044"></div><img class="intelligenziamelo-ia-DoXnc9" data-id="4:1045"
                    src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/intelligenziameloia.png"
                    alt="IntelligenziameloIA">
                <div class="group-4-DoXnc9" data-id="4:1046"><a href="javascript:SubmitForm('form7')">
                        <div class="login-with-google-Nw1ux8 login-with-google" data-id="4:1047" data-hotspot-id="hp-0">
                            <div class="rectangle-2-GZUKvM" data-id="4:1048"></div>
                            <div class="group-1-GZUKvM" data-id="4:1049"><img class="search-1-b0J7XT" data-id="4:1050"
                                    src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/search-1.svg"
                                    alt="search 1">
                                <div class="login-with-google-b0J7XT login-with-google" data-id="4:1055">Login with
                                    Google</div>
                            </div>
                        </div>
                    </a><a href="javascript:SubmitForm('form7')">
                        <div class="login-with-facebook-Nw1ux8 login-with-facebook" data-id="4:1056"
                            data-hotspot-id="hp-1">
                            <div class="rectangle-3-9MxaOI" data-id="4:1057"></div>
                            <div class="group-2-9MxaOI" data-id="4:1058">
                                <div class="login-with-facebook-xbadTU login-with-facebook" data-id="4:1059">Login with
                                    Facebook</div><img class="vector-xbadTU vector" data-id="4:1060"
                                    src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/642ef9ac23b0d736711df217/img/vector.svg"
                                    alt="Vector">
                            </div>
                        </div>
                    </a></div>
                <div class="or-DoXnc9 or" data-id="4:1061"><img class="line-1-xqUhjR" data-id="4:1062"
                        src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/642eec10813eaec3b73ff26a/img/line-1.svg"
                        alt="Line 1"><img class="line-2-xqUhjR" data-id="4:1063"
                        src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/642eec10813eaec3b73ff26a/img/line-2.svg"
                        alt="Line 2">
                    <div class="or-xqUhjR or" data-id="4:1064">OR</div>
                </div>
                <div class="group-5-DoXnc9" data-id="4:1065"><a href="javascript:SubmitForm('form7')">
                        <div class="forgot-password-BNm2ax" data-id="4:1066" data-hotspot-id="hp-2">Forgot Password?
                        </div>
                    </a>
                    <div class="email-BNm2ax email" data-id="4:1067">
                        <div class="rectangle-4-2qubxn" data-id="4:1068"></div><img class="vector-2qubxn vector"
                            data-id="4:1069"
                            src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/vector-1.svg"
                            alt="Vector">
                        <div class="email-2qubxn email" data-id="4:1070">Email or Username</div><input id="username"
                            class="examplegmailcom-2qubxn" data-id="4:1071" name="examplegmailcom"
                            placeholder="example@gmail.com" type="text">
                    </div>
                    <div class="password-BNm2ax password" data-id="4:1072">
                        <div class="rectangle-5-dHpg5E" data-id="4:1073"></div><img class="group-dHpg5E group"
                            data-id="4:1074"
                            src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/group-1@2x.png"
                            alt="Group">
                        <div class="password-dHpg5E password" data-id="4:1076">Password</div><input id="password" class="x-dHpg5E"
                            data-id="4:1077" name="***********" placeholder="***********" type="password"><a
                            href="javascript:SubmitForm('form7')"><img class="bieye-fill-dHpg5E" data-id="4:1078"
                                src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/bi-eye-fill.svg"
                                alt="bi:eye-fill" data-hotspot-id="hp-3"></a>
                    </div><a id="login"><img class="button-BNm2ax" data-id="4:1082"
                            src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/button.png"
                            alt="button" data-hotspot-id="hp-4"></a><a href="javascript:SubmitForm('form7')">
                        <div class="remember-me-BNm2ax remember-me" data-id="4:1085" data-hotspot-id="hp-5">
                            <div class="remember-me-iByq92 remember-me" data-id="4:1086">Remember me</div>
                            <div class="check-iByq92" data-id="4:1087"></div>
                        </div>
                    </a><a id="register">
                        <p class="dont-have-an-account-register-BNm2ax" data-id="4:1088" data-hotspot-id="hp-6"><span
                                class="span0-3c5mAc">Don't have an account? </span><span
                                class="span1-3c5mAc">Register</span></p>
                    </a>
                </div>
            </div>
        </form>
    </div>    
</body>