@{
    Layout = null;
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="~/Content/css/SignUp.css" rel="stylesheet" />
<script src="~/Scripts/js/SignUp.js"></script>

<body style="margin: 0px; background: rgb(1, 7, 37); overflow-x: hidden;" dark-scroll=""><input type="hidden"
        id="anPageName" name="page" value="sign-up">
    <div class="container-center-horizontal">
        <form class="sign-up screen " data-id="10:417" name="form4" action="form4" method="post"><input type="text"
                name="trapit" value="" style="display:none;"><img class="group-rEJZuq" data-id="34:234"
                src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/644318ffcb63b9cddc0b8596/img/group.png"
                alt="Group">
            <div class="group-6-rEJZuq" data-id="10:549">
                <div class="bg-YrOcOp" data-id="10:550"></div><img class="intelligenziamelo-ia-YrOcOp" data-id="10:551"
                    src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/intelligenziameloia.png"
                    alt="IntelligenziameloIA">
                <div class="group-5-YrOcOp" data-id="10:571">
                    <div class="name-PJrbce name" data-id="10:573">
                        <div class="rectangle-4-0fFd4l rectangle-4" data-id="10:574"></div>
                        <div class="name-0fFd4l name poppins-normal-romance-12px" data-id="10:576">Complete Name</div><input id="name"
                            class="mario-0fFd4l poppins-bold-romance-16px" data-id="10:577" name="mario"
                            placeholder="Mario" type="text">
                    </div>
                    <div class="surname-PJrbce surname" data-id="34:210">
                        <div class="rectangle-4-7wx7FG rectangle-4" id="div-username" data-id="34:211"></div>
                        <div class="surname-7wx7FG surname poppins-normal-romance-12px" data-id="34:212"><p id="label-username">Username</p></div>
                        <input id="username" class="rossi-7wx7FG poppins-bold-romance-16px" data-id="34:213" name="rossi"
                            placeholder="Rossi123" type="text">
                    </div>
                    <div class="number-PJrbce number" data-id="34:214">
                        <div class="rectangle-4-67jqON rectangle-4" data-id="34:215"></div>
                        <div class="phone-number-67jqON poppins-normal-romance-12px" data-id="34:216">Phone Number</div>
                        <input id="phone" class="x3331234567-67jqON poppins-bold-romance-16px" data-id="34:217" name="3331234567"
                            placeholder="3331234567" type="text">
                    </div>
                    <div class="number-aVqWou number" data-id="34:226">
                        <div class="rectangle-4-wRmpWt rectangle-4" data-id="34:227"></div>
                        <div class="country-wRmpWt poppins-normal-romance-12px" data-id="34:228">Country</div><input id="country"
                            class="italy-wRmpWt poppins-bold-romance-16px" data-id="34:229" name="italy"
                            placeholder="Italy" type="text">
                    </div>
                    <div class="birthday-PJrbce birthday" data-id="34:218">
                        <div class="rectangle-4-0kZzsS rectangle-4" data-id="34:219"></div>
                        <div class="birthday-0kZzsS birthday poppins-normal-romance-12px" data-id="34:220">Birthday
                        </div><input id="birthday" class="x22011997-0kZzsS poppins-bold-romance-16px" data-id="34:221" name="22011997"
                            placeholder="22/01/1997" type="text">
                    </div>
                    <div class="gender-PJrbce gender" data-id="34:222">
                        <div class="rectangle-4-VFRFfe rectangle-4" data-id="34:223"></div>
                        <div class="gender-VFRFfe gender poppins-normal-romance-12px" data-id="34:224">Gender</div>
                        <select class="form-select man-VFRFfe poppins-bold-romance-16px" id="gender" data-id="34:225">
                            <option selected value=""></option>
                        </select>
                    </div>
                    <div class="email-PJrbce email" data-id="34:193">
                        <div class="rectangle-4-mgEAqx rectangle-4" id="div-email" data-id="34:194"></div><img class="icon-mail-mgEAqx"
                            data-id="34:195"
                            src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/vector-1.svg"
                            alt="icon-mail">
                        <div class="email-mgEAqx email poppins-normal-romance-12px" data-id="34:196"><p id="label-email">Email</p></div><input id="email"
                            class="examplegmailcom-mgEAqx poppins-bold-romance-16px" data-id="34:197"
                            name="examplegmailcom" placeholder="example@gmail.com" type="text">
                    </div>
                    <div class="password-PJrbce password" data-id="34:198">
                        <div class="rectangle-5-1BgW39" data-id="34:199"></div><img class="icon-key-1BgW39"
                            data-id="34:200"
                            src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/group-1@2x.png"
                            alt="icon-key">
                        <div class="password-1BgW39 password poppins-normal-romance-12px" data-id="34:202">Password
                        </div><input id="password" class="x-1BgW39 poppins-bold-romance-16px" data-id="34:203" name="***********"
                            placeholder="***********" type="password"><a href="javascript:SubmitForm('form4')"><img
                                class="icon-eye-1BgW39" data-id="34:204"
                                src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/6442ced1321753c2097a4b7a/img/bi-eye-fill.svg"
                                alt="icon-eye"></a>
                    </div><a id="btn-signup"><img class="button-PJrbce" data-id="10:588"
                            src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/644318ffcb63b9cddc0b8596/img/button.png"
                            alt="button"></a><a id="btn-login">
                        <div class="have-an-account-login-PJrbce" data-id="10:594"><span class="span0">Have an account?
                            </span><span class="span1-pZQDtZ">Login</span></div>
                    </a>
                </div><a id="btn-conditions">
                    <div class="remember-me-YrOcOp" data-id="34:231">
                        <div class="accept-the-conditions-conditions-gfJt7z" data-id="34:232"><span class="span0">Accept
                                the conditions. </span><span class="span1-qrjthD">Conditions</span></div>
                        <div class="check-gfJt7z" data-id="34:233"></div>
                    </div>
                </a>
            </div><img class="sign-up-amico-1-rEJZuq" data-id="10:595"
                src="https://cdn.animaapp.com/projects/642eeb97f819b5a83e2e2e07/releases/644318ffcb63b9cddc0b8596/img/sign-up-amico-1.svg"
                alt="Sign up-amico 1">
        </form>
    </div>
</body>
